@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #d946ef, #fb923c);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #c026d3, #f97316);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #d946ef #1a1a1a;
}
